fastapi==0.115.8
uvicorn[standard]==0.34.0
pydantic==2.10.6
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
lightgbm==4.5.0
imbalanced-learn==0.13.0
requests==2.32.3
streamlit==1.41.1
mlflow==2.20.1
